.content{
   max-width: min(112rem, 90%); 
}

/* CABEÇALHO ===================== */

#room header{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
}

#room header .buttons .button:nth-child(2) img{
    width: 2rem;
    height: 2rem;
}

/* CAIXA PERGUNTA ============== */

#question-form h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 4.2rem;
    margin-bottom: 2.4rem;
}

#question-form form{
    border: .2rem solid var(--gray-blue);
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem;
    margin-bottom: 1.6rem;
}

#question-form form textarea{
    resize: none;
    background: transparent;
    width: 100%;
    outline: none;
}

#question-form form textarea::placeholder{
    color: var(--gray-blue);
}
#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

#question-form form footer > div{
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: var(--icons-details);
    font-weight: 400;
    font-size: 1.4rem;
}

#question-form form footer > div img{
    margin-right: .6rem;
}

#question-form form footer button{
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}

/* PERGUNTAS RECEBIDAS ============== */

.question-wrapper{
    background: var(--light-blue);
    margin-bottom: .8rem;
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
}

.question-wrapper .question-content{
    display: flex;
    align-items: flex-start;
}

.question-wrapper .question-content .user{
    background: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
}

.question-wrapper .question-content p{
    margin-left: 1.6rem;
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.2rem;
}

.question-wrapper .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions > a{
    display: flex;
    align-items: center;
    margin-left: 0 2.4rem;
}

.question-wrapper .actions > a:nth-child(2){
    margin-left: 2.4rem;
}

.question-wrapper .actions > a > img{
    margin-right: .8rem;
}

/* PERGUNTAS LIDAS ============== */
.question-wrapper.read{
    background: var(--gray-opa);
}

.question-wrapper.read .question-content .user{
    background: var(--gray-blue);
}

/* NO QUESTIONS ============== */
.no-questions{
    text-align: center;
    margin-top: 5.2rem;
}
.no-questions img{
    margin-bottom: 1.2rem;
    max-width: 100%;
}

.no-questions p{
 font-family: 'Poppins', sans-serif;
 font-size: 1.8rem;
 font-weight: 600;
}

.no-questions p + p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 1.3rem;
    line-height: 1.9rem;
}

/* POP-UP COPIADO */


.popuptext {
    visibility: hidden;
    font-family: 'Open Sans';
    font-weight: 400;
    background-color:var(--gray-dark);
    color: var(--white);
    text-align: center;
    border-radius: .6rem;
    padding: 2rem;
    position: absolute;
    z-index: 1;
    top: 5.5rem;
    /* bottom: -100%; */
  }

  /* Popup arrow */
  .buttons .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent var(--gray-dark) transparent ;
  }
  
  /* Toggle this class - hide and show the popup */
  .buttons .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

